.headerAvatar {
    border-radius:100%;
    margin-right:1em;
}

.headerNames {
    display:flex;
    justify-content: flex-start;
    align-items: baseline;
    
    & h2 {
        font-weight: normal;
    }
}

.hamburgerMenu {
    position:relative;
    filter: invert(1);
    
}

.hamburgerMenu:hover {
    cursor:pointer;
}

.hamburgerMenuContainer {
    display:flex;
    flex-direction:column;
}

.menuDrawer {
    position:absolute;
    width:150px;
    right:-210px;
    top:var(--headerHeight);
    background-color: var(--headerPrimary);
    color:var(--onHeaderPrimary);
    padding: 0 0 0 1em;

}

.menuDrawer::before {
    content:'';
    display:inline-block;
    background-color:var(--background);
    border-radius:0 10px 0 0;
    width:17px;
    height:170px;
    left:-2px;
    position:absolute;
}

.menuDrawer::after {
    content: "";
    background-color: var(--headerPrimary);
    border-radius: 0 0 0 10px;
    height: 15px;
    position: absolute;
    display: block;
    width: 135px;
    right: 0;
} 

.menuDrawer ul {
    display:flex;
    flex-direction:column;
}

.menuDrawer ul li{
    padding:.5rem;
}

@media screen and (max-width:425px) {
    .headerNames {
        flex-direction:column;
    }
}