@use '../../mixins';

.projectCard {
    margin:0 2em 0 2em;
    height:50dvh;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:0;
    flex-wrap:wrap;
    &Background {
        width: 100%;
        height: 100%;
        background-blend-mode: luminosity, multiply;
        background-position: 0% 0%, 0 0, 0% 0%;
        background-repeat: no-repeat;
        background-size: cover, 100% 300%, cover;
        transition: all .5s;
    }
    &Clip {
        width: 100%;
        height:100%;
        overflow: hidden;
    }
    &Container {
        width:100%;
        height:80%;
        width:450px;
        border: 4px solid var(--onPrimaryContainer);
        border-radius:10px;
        margin:0;
        overflow:hidden;
        &:hover {
            border: 4px solid var(--onSurfaceVariant);

            & .projectCardBackground {
                background-position: 0% 0%, 0% 100%, 0% 0%;
                box-shadow: 0 0 4px 2px var(--darkshadow);
                transform: scale3d(1.05, 1.05, 1.05);
            }
        }
    }
    &Tech {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self:flex-start;
        flex-wrap: wrap;
        width: 100%;
        
        position: relative;
        z-index: 2;

    }
    &Title {
        @include mixins.generalTransition;
        font-weight: normal;
        padding: 1em 1em 1em .5em;
        background-color: var(--primaryContainer);
        background-image: linear-gradient(170deg, var(--primaryContainer), var(--primaryContainerOffset));
        color: var(--onPrimaryContainer);
        line-height: .3rem;
        position:relative;
        z-index:2;


        & h2 {
            line-height: 1.5rem;
        }

        &::after {
            content: 'Click for more information';
            background-image: linear-gradient(320deg, var(--surface) 0%, var(--surfaceOffset) 100%);
            // background-color: var(--surface);
            transform: skew(-3deg, -3deg) translateX(-20px) translateY(20px);
            opacity: 0;
            transition: all .5s;
            height: 20px;
            width: 50%;
            position: absolute;
            right: -1.5em;
            color: var(--onSurface);
            z-index: 10;
            line-height: 1rem;
            height: auto;
            padding: .3rem;
        }
    }
}

/* classes for project background */

.CARY {
    background-image: url(../../../public/images/CARY_thumb.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/CARY_thumb.webp);

}

.codeQuiz {
    background-image: url(../../../public/images/Coding_Quiz_Question_example.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/Coding_Quiz_Question_example.webp);

}

.CELL {
    background-image: url(../../../public/images/CELL_hqdefault.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/CELL_hqdefault.webp);
}

.softlife {
    background-image: url(../../../public/images/softlife_home.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/softlife_home.webp);

}


.csssnips {
    background-image: url(../../../public/images/css_snippet_bg.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/css_snippet_bg.webp);
}


.constell {
    background-image: url(../../../public/images/constellation_background.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/constellation_background.webp);
}

.git {
    background-image: url(../../../public/images/tech_background_image.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/tech_background_image.webp);

}

.migrate {
    background-image: url(../../../public/images/migrate-screenschot.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/migrate-screenschot.webp);

}

.tds {
    background-image: url(../../../public/images/foodie_bg.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/foodie_bg.webp);

}

.musing {
    background-image: url(../../../public/images/musing_bg.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/musing_bg.webp);

}

.hoa {
    background-image: url(../../../public/images/hoa_bg.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/hoa_bg.webp);

}

.luxe {
    background-image: url(../../../public/images/luxecavallo_home.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/luxecavallo_home.webp);

}

.playdate {
    background-image: url(../../../public/images/Play_Date_porfolio_shot_v1.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/Play_Date_porfolio_shot_v1.webp);
}

.garden2 {
    background-image: url(../../../public/images/garden2_bg.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/garden2_bg.webp);

}

.scribl {
    background-image: url(../../../public/images/scrible_notes_bg.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/scrible_notes_bg.webp);

}

.weatherDash {
    background-image: url(../../../public/images/weather_dash_bg.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/weather_dash_bg.webp);
}

.wg {
    background-image: url(../../../public/images/weird_girls_thumb.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/weird_girls_thumb.webp);
}

.wheezy {
    background-image: url(../../../public/images/wheezy_main.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/wheezy_main.webp);
}

.wordguess {
    background-image: url(../../../public/images/word_guess_bg.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/word_guess_bg.webp);
}

@keyframes skeleton {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

