.imageContainers {
    width:100%;
    height:200px;
    position:relative;
    transition: all .3s;
}

img.zoomed {
    border:3px solid var(--outline);
    border-radius:5px;
    z-index:20;
    aspect-ratio:unset;
   transform: scale(1.5);
}