@use '../../mixins';

.imageContainers {
    @include mixins.generalTransition;
    width: 100%;
    height: 200px;
    position: relative;

    & img::after {
        content: "";
        width: 100%;
        height: 200px;
        background-image: linear-gradient(170deg, var(--shadow), var(--shadow));
        box-shadow: inset 0 0 14px 14px var(--background);
        color: var(--onSurfaceVariant);
        padding: 0.5em;
        transform: rotate(2deg);
        position: relative;
        z-index: -1;
        border: 2px solid var(--background);
    }

}



img.zoomed {
    border: 3px solid var(--outline);
    border-radius: 5px;
    z-index: 20;
    aspect-ratio: unset;
    transform: scale(1.5);
}