@use '../../mixins';

.projectCard {

    &Background {
        width: 100%;
        height: 200px;
        background-blend-mode: luminosity, multiply;
        background-position: 50% 50%, 0 0, 50% 50%;
        background-repeat: no-repeat;
        background-size: cover, 100% 300%, cover;
        transition: all .5s;
    }

    &Clip {
        width: 100%;
        height: 180px;
        overflow: hidden;
    }

    &Container {
        @include mixins.generalTransition;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 4px solid var(--onPrimaryContainer);
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        z-index: 3;
        // transform:scale(.7);


        &:hover {
            border: 4px solid var(--onSurfaceVariant);

            & .projectCardBackground {
                background-position: center, 0% 100%, center;
                box-shadow: 0 0 4px 2px var(--darkshadow);
                transform: scale3d(1.05, 1.05, 1.05);
                // animation: bounce .5s ease-in-out;
            }

            & .projectCardTitle::after {
                // display:block;
                opacity: .9;
            }
        }
    }

    &Link {
        width: 80%;

    }

    &Tech {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        // margin-bottom: 3em;
        width: 100%;
        border-radius: 10px;
        top: -15px;
        position: relative;
        z-index: 2;
        padding: 1em .5em;

    }

    &Title {
        @include mixins.generalTransition;
        font-weight: normal;
        padding: 1em 1em 1em .5em;
        background-color: var(--primaryContainer);
        background-image: linear-gradient(170deg, var(--primaryContainer), var(--primaryContainerOffset));
        color: var(--onPrimaryContainer);
        line-height: .3rem;
        

        & h2 {
            line-height: 1.5rem;
        }

        &::after {
            content: 'Click for more information';
            background-image: linear-gradient(320deg, var(--surface) 0%, var(--surfaceOffset) 100%);
            // background-color: var(--surface);
            transform: skew(-3deg, -3deg) translateX(-20px) translateY(20px);
            opacity: 0;
            transition: all .5s;
            height: 20px;
            width: 50%;
            position: absolute;
            right: -1.5em;
            color: var(--onSurface);
            z-index: 10;
            line-height: 1rem;
            height: auto;
            padding: .3rem;

            // display:none;
        }
    }
}

.projectCardSuspense {
    background-color: var(--outline);
    animation: skeleton 2s infinite;
}

.techImage {
    margin: .3em;
}

/* classes for project background */

.CARY {
    background-image: url(../../../public/images/CARY_thumb.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/CARY_thumb.webp);

}

.codeQuiz {
    background-image: url(../../../public/images/Coding_Quiz_Question_example.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/Coding_Quiz_Question_example.webp);

}

.CELL {
    background-image: url(../../../public/images/CELL_hqdefault.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/CELL_hqdefault.webp);
}

.softlife {
    background-image: url(../../../public/images/softlife_home.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/softlife_home.webp);

}


.csssnips {
    background-image: url(../../../public/images/css_snippet_bg.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/css_snippet_bg.webp);
}


.constell {
    background-image: url(../../../public/images/constellation_background.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/constellation_background.webp);
}

.git {
    background-image: url(../../../public/images/tech_background_image.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/tech_background_image.webp);

}

.migrate {
    background-image: url(../../../public/images/migrate-screenschot.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/migrate-screenschot.webp);

}

.tds {
    background-image: url(../../../public/images/foodie_bg.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/foodie_bg.webp);

}

.musing {
    background-image: url(../../../public/images/musing_bg.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/musing_bg.webp);

}

.hoa {
    background-image: url(../../../public/images/hoa_bg.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/hoa_bg.webp);

}

.luxe {
    background-image: url(../../../public/images/luxecavallo_home.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/luxecavallo_home.webp);

}

.playdate {
    background-image: url(../../../public/images/Play_Date_porfolio_shot_v1.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/Play_Date_porfolio_shot_v1.webp);
}

.garden2 {
    background-image: url(../../../public/images/garden2_bg.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/garden2_bg.webp);

}

.scribl {
    background-image: url(../../../public/images/scrible_notes_bg.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/scrible_notes_bg.webp);

}

.weatherDash {
    background-image: url(../../../public/images/weather_dash_bg.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/weather_dash_bg.webp);
}

.wg {
    background-image: url(../../../public/images/weird_girls_thumb.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/weird_girls_thumb.webp);
}

.wheezy {
    background-image: url(../../../public/images/wheezy_main.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/wheezy_main.webp);
}

.wordguess {
    background-image: url(../../../public/images/word_guess_bg.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../../public/images/word_guess_bg.webp);
}

@keyframes skeleton {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes bounce {
    0% {
        transform: scale3d(1, 1, 1);

    }

    60% {
        transform: scale3d(1.08, 1.08, 1.08);

    }

    100% {
        transform: scale3d(1.05, 1.05, 1.05);

    }
}

@media screen and (min-width:768px) {
    .projectCard {
        display:flex;
        justify-content:center;
        align-items: center;
        &Container {
            width: 60%;
            height: 80%;
        }
    }
}