.alignLeft {
justify-content: flex-start !important;
}

.heroImage {
    width:80%;
    height:40dvh;
    position:relative;
    overflow:hidden;
    display:flex;
    align-items:flex-start;
    object-position: top;
}

.imageContainers {
    width:100%;
    height:200px;
    position:relative;
    transition: all .3s;
}

.imgClip {
    height:100px;
    width:100px;
    overflow:hidden;
    position:relative;
}

.projectDescription {
    margin:2em 0;
}

.projectDetails {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items: center;
    margin:2em 0;
}

.projectImages {
    width:100%;
    height:auto;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap:1em;
    margin:2em 0;
}

.projectTech {
    margin: 2em 0;
    display:flex;
    flex-direction:column;
}

.smallProjectCard {
    position:relative;
    width:30%;
    height:100px;
    width:100px;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: center;
    border:2px solid var(--secondaryContainer);
    border-radius:10px;
    overflow:hidden;
    transition: all .3s;

}

.smallProjectCard:hover {
    transform:scale(1.1);
}

.smallProjectCardTitle {
    padding:.5em
}

.smallProjectContainer {
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    margin:3em 0;
    gap:2em;
    flex-wrap: wrap;
    position:relative;
}

.techStack {
    display:flex;
    justify-content: center;
    align-items:center;
    flex-wrap:wrap;
    width:100%;
    border-radius:10px;
}

@media screen and (min-width:768px) {
    .imageContainers {
        width:43%;
    }
}