@use '../app/mixins';

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --headerPrimary: #99461a;
  --onHeaderPrimary: #ffffff;
  --shadow:oklch(22.41% 0.01 39.3 / .3);
  --headerHeight:170px;
  --projectsTitleHeight:100px;
  --projectsContainerOffset:200px;
}

.dark-mode {
  --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --background: oklch(22.41% 0.01 39.3);
    --backgroundOffset: oklch(37.56% 0.01 39.3);
    --outline: #a08d85;
    --onBackground: #ede0db;
    --primary: #ffb695;
    --onPrimary: #571f00;
    --primaryContainer:#7a2f03;
    --onPrimaryContainer: #ffdbcc;
    --secondary:#e6bead;
    --onSecondary:#442a1f;
    --secondaryContainer: #5d4034;
    --onSecondaryContainer:#ffdbcc;
    --tertiary:#d1c88f;
    --onTertiary:#363106;
    --surface:#201a18;
    --onSurface:#ede0db;
    --surfaceVariant:#52443d;
    --onSurfaceVariant:#d8c2ba;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html[data-theme='light'] {
  --background: #fffbff;
  --backgroundOffset:#d1cdd1;
  --outline: #85736c;
  --onBackground: #201a18;
  --primary: #99461a;
  --onPrimary: #ffffff;
  --primaryContainer:#ffdbcc;
  --onPrimaryContainer: #351000;
  --secondary:#76574a;
  --onSecondary:#ffffff;
  --secondaryContainer: #ffdbcc;
  --onSecondaryContainer:#2c160c;
  --tertiary:#665f31;
  --onTertiary:#ffffff;
  --surface:#fffbff;
  --onSurface:#201a18;
  --surfaceVariant:#f4ded5;
  --onSurfaceVariant:#52443d;
  --shadow:oklch(22.41% 0.01 39.3 / .3);
}

html[data-theme='dark']{
  --background: oklch(22.41% 0.01 39.3);
  --backgroundOffset: oklch(37.56% 0.01 39.3);
  --outline: #a08d85;
  --onBackground: #ede0db;
  --primary: #ffb695;
  --onPrimary: #571f00;
  --primaryContainer:#7a2f03;
  --onPrimaryContainer: #ffdbcc;
  --secondary:#e6bead;
  --onSecondary:#442a1f;
  --secondaryContainer: #5d4034;
  --onSecondaryContainer:#ffdbcc;
  --tertiary:#d1c88f;
  --onTertiary:#363106;
  --surface:#201a18;
  --onSurface:#ede0db;
  --surfaceVariant:#52443d;
  --onSurfaceVariant:#d8c2ba;
}

html,
body {
  max-width: 100dvw;
  overflow-x: hidden;
  background-color:var(--background);
  color:var(--onBackground);
  font-family: var(--font-Inter);
  height:100dvh;
  
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  @include mixins.generalTransition;
  padding:.5em;
  background-color: var(--secondary);
  color:var(--onSecondary);
  min-width:150px;
  border-radius:10px;
  border:none;
  cursor: pointer;
  margin-right:2em;
}

button:hover {
  background-color: var(--primary);
  color:var(--onPrimary);
  transform:scale(1.03);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-Outfit);
}

header {
  @include mixins.generalTransition;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding:1em;
  background-image: linear-gradient(var(--background) 0%, var(--background) 39%, var(--headerPrimary) 40% );
  color:var(--onHeaderPrimary);
  position:fixed;
  z-index:5;
  width:100%;
  box-shadow: var(--shadow) 0 5px 3px;

}



main {
  padding:2em 1em 1em 1em;
  min-height:calc(100dvh - var(--headerHeight));
  top:var(--headerHeight);
  position:relative;
 
}

nav ul {
  @include mixins.generalTransition;
  list-style-type: none;
  display:flex;
  justify-content: space-between;
}

nav ul li{
  @include mixins.generalTransition;
  margin:0 1em 0 0;
  font-size:.8rem;
}

p {
  font-size:.8rem;
}

sub {
  font-style: italic;
  font-size:.6em;
  line-height: 1em;
  display:inline;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}