@use '../app/mixins';

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --headerPrimary: oklch(49.44% 0.124 45.13); //#99461a;
  --headerPrimaryOffset: oklch(42.44% 0.124 45.13); //#99461a;
  --onHeaderPrimary: oklch(100% 0 0); // #ffffff;
  --shadow: oklch(22.41% 0.01 39.3 / .3);
  --headerHeight: 170px;
  --projectsTitleHeight: 100px;
  --projectsContainerOffset: 100px;
}

.dark-mode {
  --background: oklch(22.41% 0.01 39.3);
  --backgroundOffset: oklch(27.41% 0.01 39.3);
  --outline: oklch(65.81% 0.026 44.22); //#a08d85;
  --onBackground: oklch(91.57% 0.016 42.38); //#ede0db;
  --primary: oklch(83.71% 0.096 45.26); //#ffb695;
  --primaryOffset: oklch(88.71% 0.096 45.26);
  --onPrimary: oklch(32.01% 0.0919 44.7255); // #571f00;
  --primaryContainer: oklch(40.69% 0.116 44.2); // #7a2f03;
  --primaryContainerOffset: oklch(45.69% 0.116 44.2);
  --onPrimaryContainer: oklch(91.76% 0.045 43.92); //#ffdbcc;
  --secondary: oklch(83.2% 0.052 44.27); //#e6bead;
  --secondaryOffset: oklch(88.2% 0.052 44.27);
  --onSecondary: oklch(31.42% 0.043 43.67); // #442a1f;
  --secondaryContainer: oklch(40.08% 0.045 43.39); //#5d4034;
  --secondaryContainerOffset: oklch(45.08% 0.045 43.39);
  --onSecondaryContainer: oklch(91.76% 0.045 43.92); //#ffdbcc;
  --tertiary: oklch(82.65% 0.075 100.25); //#d1c88f;
  --tertiaryOffset: oklch(87.65% 0.075 100.25);
  --onTertiary: oklch(30.93% 0.059 102.49); //#363106;
  --surface: oklch(22.41% 0.01 39.3); //#201a18;
  --surfaceOffset: oklch(27.41% 0.01 39.3);
  ;
  --onSurface: oklch(91.57% 0.016 42.38); //#ede0db;
  --surfaceVariant: oklch(39.9% 0.023 48.13); //#52443d;
  --surfaceVariantOffset: oklch(44.9% 0.023 48.13);
  --onSurfaceVariant: oklch(83.03% 0.027 41.09); //#d8c2ba;
  --shadow: oklch(26.31% 0.01 39.3 / .3);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html[data-theme='light'] {
  --background: oklch(99.23% 0.0067 325.6274); //#fffbff;
  --backgroundOffset: oklch(94.23% 0.0067 325.6274); //#cecace;
  --outline: oklch(57.03% 0.025 42.44); // #85736c;
  --onBackground: oklch(22.41% 0.01 39.3); // #201a18;
  --primary: oklch(49.44% 0.124 45.13); // #99461a;
  --primaryOffset: oklch(42.44% 0.124 45.13);
  --onPrimary: oklch(100% 0 0); //#ffffff;
  --primaryContainer: oklch(91.76% 0.045 43.92); //#ffdbcc;
  --primaryContainerOffset: oklch(84.76% 0.045 43.92);
  --onPrimaryContainer: oklch(23.08% 0.066 44.93); // #351000;
  --secondary: oklch(48.56% 0.046 43.78); //#76574a;
  --secondaryOffset: oklch(41.56% 0.046 43.78);
  --onSecondary: oklch(100% 0 0); //#ffffff;
  --secondaryContainer: oklch(91.76% 0.045 43.92); //#ffdbcc;
  --secondaryContainerOffset: oklch(84.76% 0.045 43.92);
  --onSecondaryContainer: oklch(22.85% 0.04 44.7); //#2c160c;
  --tertiary: oklch(48.1% 0.066 100.78); //#665f31;
  --tertiaryOffset: oklch(41.1% 0.066 100.78);
  --onTertiary: oklch(1005 0 0); //#ffffff;
  --surface: oklch(99.23% 0.006725315390859499 325.62738137631163); //#fffbff;
  --surfaceOffset: oklch(92.23% 0.006725315390859499 325.62738137631163);
  --onSurface: oklch(22.41% 0.01 39.3); //#201a18;
  --surfaceVariant: oklch(91.6% 0.027 43.65); //#f4ded5;
  --surfaceVariantOffset: oklch(84.6% 0.027 43.65);
  --onSurfaceVariant: oklch(39.9% 0.023 48.13); //#52443d;
  --shadow: oklch(22.41% 0.01 39.3 / .3);
}

html[data-theme='dark'] {
  --background: oklch(22.41% 0.01 39.3);
  --backgroundOffset: oklch(17.41% 0.01 39.3);
  --outline: oklch(65.81% 0.026 44.22); //#a08d85;
  --onBackground: oklch(91.57% 0.016 42.38); //#ede0db;
  --primary: oklch(83.71% 0.096 45.26); //#ffb695;
  --primaryOffset: oklch(75.71% 0.096 45.26);
  --onPrimary: oklch(32.01% 0.0919 44.7255); // #571f00;
  --primaryContainer: oklch(40.69% 0.116 44.2); // #7a2f03;
  --primaryContainerOffset: oklch(36.69% 0.116 44.2); //forces fallback is l reduced further
  --onPrimaryContainer: oklch(91.76% 0.045 43.92); //#ffdbcc;
  --secondary: oklch(83.2% 0.052 44.27); //#e6bead;
  --secondaryOffset: oklch(76.2% 0.052 44.27);
  --onSecondary: oklch(31.42% 0.043 43.67); // #442a1f;
  --secondaryContainer: oklch(40.08% 0.045 43.39); //#5d4034;
  --secondaryContainerOffset: oklch(33.08% 0.045 43.39);
  --onSecondaryContainer: oklch(91.76% 0.045 43.92); //#ffdbcc;
  --tertiary: oklch(82.65% 0.075 100.25); //#d1c88f;
  --tertiaryOffset: oklch(75.65% 0.075 100.25);
  --onTertiary: oklch(30.93% 0.059 102.49); //#363106;
  --surface: oklch(22.41% 0.01 39.3); //#201a18;
  --surfaceOffset: oklch(15.41% 0.01 39.3);
  ;
  --onSurface: oklch(91.57% 0.016 42.38); //#ede0db;
  --surfaceVariant: oklch(39.9% 0.023 48.13); //#52443d;
  --surfaceVariantOffset: oklch(32.9% 0.023 48.13);
  --onSurfaceVariant: oklch(83.03% 0.027 41.09); //#d8c2ba;


}

html,
body {
  max-width: 100dvw;
  overflow-x: hidden;
  background-color: var(--background);
  color: var(--onBackground);
  font-family: var(--font-Inter);
  height: 100dvh;

}

a {
  color: inherit;
  text-decoration: none;
}

button {
  @include mixins.generalTransition;
  padding: .5em;
  // background-color: var(--secondary);
  background-image: linear-gradient(170deg, var(--secondary), var(--secondaryOffset));
  color: var(--onSecondary);
  min-width: 150px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-right: 2em;
}

button:hover {
  // background-color: var(--primary);
  background-image: linear-gradient(170deg, var(--primary), var(--primaryOffset));
  color: var(--onPrimary);
  transform: scale(1.03);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-Outfit);
}

header {
  @include mixins.generalTransition;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1em;
  background-image: linear-gradient(var(--background) 0%, var(--background) 39%, var(--headerPrimaryOffset) 40%, var(--headerPrimary) 98%);
  color: var(--onHeaderPrimary);
  position: fixed;
  z-index: 5;
  width: 100%;
  box-shadow: var(--shadow) 0 5px 3px;

}



main {
  padding: 2em 1em 1em 1em;
  min-height: calc(100dvh - var(--headerHeight));
  top: var(--headerHeight);
  position: relative;

}

nav ul {
  @include mixins.generalTransition;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  @include mixins.generalTransition;
  margin: 0 1em 0 0;
  font-size: .8rem;
}

p {
  font-size: .8rem;
}

sub {
  font-style: italic;
  font-size: .6em;
  line-height: 1em;
  display: inline;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}