@use '../../mixins';

.leftFade {
    background-image: linear-gradient(-90deg, var(--backgroundGradient));
    // background-image:linear-gradient(-90deg, transparent, var(--background));
    height: 50dvh;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}

.rightFade {
    background-image: linear-gradient(90deg, var(--backgroundGradient));
    height: 50dvh;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
}

.projectCardSpacer {
    height: 50dvh;
    width: 20dvw;
}


.projectsAnimateWrapper {
    width: auto;
    display: flex;

    & a:last-child div[data-type='projectCard'] {
        margin-right: 8em;
    }
}

.projectsTitleDesk {
    margin: 2em 0 2em 0;
}

.projectsAndScroller {
    width: 7000px;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-wrap: nowrap;
}

.projectsScroller {
    height: 100%;
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    flex-wrap: nowrap;


    // /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* hide scrollbar on chrome */
.projectsScroller::-webkit-scrollbar {
    display: none;
}

.projectsContainer {
    position: relative;
    // height: calc(100dvh - var(--projectsContainerOffset));
    height:54dvh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.scrollerButtons {
    display: flex;
    flex-direction: row;
    align-self: center;

    & svg {
        @include mixins.generalTransition;
        width: 48px;
        height: 48px;
        margin: 0 1em;
        fill: var(--secondary);
        stroke: var(--onSecondary);
        stroke-width: 2;
        stroke-linecap: round;
        stroke-miterlimit: 10;
    }

    & svg:hover {

        fill: var(--primaryContainer);
        stroke: var(--onPrimaryContainer);
        stroke-width: 2;
        stroke-linecap: round;
        stroke-miterlimit: 10;
        transform: scale(1.03);
    }

    & svg:active {
        transform: scale(.9);

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, red, yellow);
            filter: blur(10px);
            z-index: -1;
        }

    }
}

.disabled {
    opacity: .5;
    scale: 0;
}

.on {
    opacity: 1;
    scale: 1;
}