.educationList {
    list-style-type: none;
    margin: 0 0 5em 0;

    & li {
        margin: .5em 0 0 0;
        font-size: .8rem;
    }
}

.experience {
    &List {
        list-style-type: none;
        margin: 0 0 1em 0;

        & li {
            margin: .5em 0 0 0;
            font-size: .8rem;
            padding: 0 0 0 2em;
            position: relative;

            &::before {
                content: '•';
                position: absolute;
                left: .5em;
                color: var(--tertiary);
            }
        }


    }

    &Section {
        margin: 2em 0;

        &Title {
            background-image: linear-gradient(170deg, var(--surfaceVariant), var(--surfaceVariantOffset));
            box-shadow: inset 0 0 10px 15px var(--background);
            padding: .5em;
            color: var(--onSurfaceVariant);
        }
    }
}

.projectSection {
    margin: 2em 0;

    

    &Title {
        background-image: linear-gradient(170deg, var(--surfaceVariant), var(--surfaceVariantOffset));
        box-shadow: inset 0 0 10px 20px var(--background);
        padding: .5em;
        color: var(--onSurfaceVariant);
    }

    &Links {
        font-style: italic;
        margin: 1em .5em;

        span {
            font-weight: bold;
            font-style: normal;
        }
    }

    &Desc {
        margin: 1em .5em;
    }
}

.resume {
    &Container a {
        color: var(--tertiary);
        text-decoration: underline;
        transition:all .3s;
    }

    &Contacts {
        display: flex;
        flex-direction: column;
        font-size: .8rem;
        margin: 2em 0;

        &Left {
            & p {
                margin-top: .5rem;
            }
        }

        &Right {
            & p {
                margin-top: .5rem;
            }
        }
    }

    &Image {
        object-fit: cover;
        opacity:.1;
        object-position: top left;
        // mask-image:linear-gradient(to right, oklch(100% 0 0 / 0) , oklch(100% 0 128 / 1));
        mask-image:
            linear-gradient(
              to right,
              hsla(0, 0%, 100%, 0) 0%,
              hsla(0, 0%, 100%, 0.013) 8.1%,
              hsla(0, 0%, 100%, 0.049) 15.5%,
              hsla(0, 0%, 100%, 0.104) 22.5%,
              hsla(0, 0%, 100%, 0.175) 29%,
              hsla(0, 0%, 100%, 0.259) 35.3%,
              hsla(0, 0%, 100%, 0.352) 41.2%,
              hsla(0, 0%, 100%, 0.45) 47.1%,
              hsla(0, 0%, 100%, 0.55) 52.9%,
              hsla(0, 0%, 100%, 0.648) 58.8%,
              hsla(0, 0%, 100%, 0.741) 64.7%,
              hsla(0, 0%, 100%, 0.825) 71%,
              hsla(0, 0%, 100%, 0.896) 77.5%,
              hsla(0, 0%, 100%, 0.951) 84.5%,
              hsla(0, 0%, 100%, 0.987) 91.9%,
              hsl(0, 0%, 100%) 100%
            );
        
       
    }

    &ImageContainer {
        width:40%;
        height:auto;
        position:relative;
        top:0;
        right:0;
        box-shadow:inset 0 0 5px 15px var(--background);
        display:none;
    }

    &Name {
        margin: 2em 0;
    }

    &Title {
        margin: 0 0 1em 0;
    }

    &SectionDetailsContainer {
        display:flex;
    }

    &Summary {
        margin: 2em 0;

        & p {
            font-size: .8rem;
            line-height: 1.2rem;
        }
    }

    &Tech {
        margin: 2em 0;
    }
}

.techIcons {
    display: flex;
    flex-wrap: wrap;
  

    & img {
        margin: 1em;
    }
}

.techSectionTitle {
    background-image: linear-gradient(170deg, var(--surfaceVariant), var(--surfaceVariantOffset));
    box-shadow: inset 0 0 10px 17px var(--background);
    padding: .5em;
    color: var(--onSurfaceVariant);
}

.sectionTitle {
    padding: .5em;
    background-color: var(--primaryContainer);
    background-image: linear-gradient(170deg, var(--primaryContainer), var(--primaryContainerOffset));
    color: var(--onPrimaryContainer);
    border-radius: 10px;
    margin: 2em 0 2em 0;
}

@media screen and (min-width:768px) {
    .resumeContacts {
        flex-direction:row;
        gap:2em;
        justify-content: space-between;
    
    &Left {
        width:45%;
    }
    &Right {
        width:45%;
    }
}
.resume {
    &Container {
        width:90%;
    }
    &ImageContainer {
        display:block;
    }
    &Main {
        display:flex;
        justify-content: center;
    }
}
}

@media screen and (min-width:1600px) {
    .resume {
        &Container {
            width:75%;
        }
    }
}