.experienceList {
    list-style-type: none;
    margin:0 0 1em 0;
    & li {
        margin:.5em 0 0 2em;
        font-size:.8rem;
    }
}

.projectSection {
    margin:1em 0;
    &Title {
        margin: 0 0 .5em 0;
       
    }
    &Links {
        font-style:italic;
        span {
        font-weight:bold;
        }
    }
    &Desc {
        margin:1em 0;
    }
}

.resume {
    &Contacts {
        display: flex;
        flex-direction: column;
        font-size: .8rem;
        margin: 2em 0;
        &Left {
            & p {
                margin-top: .5rem;
            }
        }
        &Right {
            & p {
                margin-top: .5rem;
            }
        }
    }

    &Name {
        margin:2em 0;
    }
    &Title {
        margin:0 0 1em 0;
    }
    &Summary {
        margin:2em 0;
        & p {
            font-size: .8rem;
            line-height:1.2rem;
        }
    }
    &Tech {
        margin:2em 0;
    }
}

.techIcons {
    display:flex;
    flex-wrap:wrap;
    & img {
        margin:1em;
    }
}

.sectionTitle {
    padding:.5em;
    background-color:var(--primaryContainer);
    color:var(--onPrimaryContainer);
    border-radius:10px;
    margin:0 0 1em 0;
}